:root {
    --navbar-width: 20vw;
    --hover-color: hsl(292, 80%, 59%);
    --footer-height: 70px;
}

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: 0px;
    padding: 0px;
    gap: 0px;
}

.template {
    display: grid;
    grid-template-columns: var(--navbar-width) 1fr;
    gap: 0px;
    margin: 0px;    
}

.contenttemplate {
    display: grid;
    grid-template-rows: 1fr var(--footer-height);
}

.navbar {
    position: fixed;
    width: var(--navbar-width);
    height: 100vh;
    background-color: #f3e5f5;
    display: grid;
    grid-template-rows: 20% 10% 70%;
    justify-items: center;
    padding-top: 30px;
    gap: 40px;
}

.navbar img {
    width: 50%;
    left: calc(var(--navbar-width) / 2);
    border-radius: 10px;
}

.footer {
    background-color: #f294d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    height: var(--footer-height);
    justify-content: center;
}

.linkit {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.linkit a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.linkit a:hover {
    color: var(--hover-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../kuvat/metsa.jpg");
    background-size: cover;
}

.content h1 {
    padding: 30px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 5rem;
    text-align: center;
}

.esittely {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 50px;
    background-color: hsl(0, 0%, 0%, 40%);
}

.esittely img {
    padding-right: 20px;
}


.teksti {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    font-size: 1.1rem;
    gap: 15px;
    color: white;
}

p {
    margin: 0px;
}

.highlight {
    background-color: hsla(0, 0%, 0%, 0.4);
    color: white;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.hidden {
    display: none;
}